* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.main{
    width: 630px;
    height: 315px;
    margin-top: 200px;
    margin-left: 440px;
    
}


.blue {
    
    width: 200px;
    height: 200px;
    border: 10px solid blue;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.black {
   
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 50%;
    margin-left: 215px;
    position: absolute;
    z-index: 4;
   
}
.red {
    
    width: 200px;
    height: 200px;
    border: 10px solid red;
    border-radius: 50%;
    margin-left: 430px;
    position: absolute;
    z-index: 1;
   
}
.orange {
    width: 200px;
    height: 200px;
    border: 10px solid orange;
    border-radius: 50%;
    margin-left: 108px;
    margin-top: 115px;
    position: absolute;
    z-index: 2;
   
    
}
.green {
    width: 200px;
    height: 200px;
    border: 10px solid green;
    border-radius: 50%;
    margin-left: 322px;
    margin-top: 116px;
    position: absolute;
    z-index: 3;
    
    
}

